body {
    background: url(img/spacebackground2.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

.mymenu {
    background-color: #171717;
    color: white;
    text-align: center;
    width: 500px;
}

.menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.mymenu {
    border: 1px solid white;
}

.gametitle {
    padding-top: 10px;
}

.startbutton {
    padding-bottom: 10px;
}

.gameboard {
    background-color: #171717;
    height: 600px;
    width: 600px;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

.spaceship-container {
    display: flex;
    justify-content: center;
}

.spaceship {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
}

.scorecard {
    color: white;
    text-align: center;
}

.scoretitle {
    color: white;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.scoreboard {
    width: 200px;
    background-color: #171717;
    padding: 10px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.asteroids {
    position: absolute;
    left: 0px;
}

.livesboard {
    border-radius: 5%;
    background-color: #171717;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.lives {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.life-indicator {
    display: block;
    width: 50px;
    height: 50px;
}

.gameinfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: auto;
    padding-left: 20px;
}

.wholegame {
    display: flex;
    padding-top: 40px;
}

.asteroid-box,.ship-box {
    position: absolute;
    display: inline-block;
    background: red;
}

.gameoverbox {
    display: flex;
    align-items: center;
    height: 600px;
}

.gameover {
    border: solid 1px white;
    text-align: center;
    background-color: #2e2e2e;
    padding: 0px 8px 0px 8px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.GOheading {
    padding-top: 20px;
}

.GObutton {
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: white !important;
}

.btn {
    background-color: #474747;
}

.btn:hover {
    background-color: #2e2e2e;
}

.GObutton:hover {
    text-decoration: none;
}

.gamebuttons {
    padding-bottom: 20px;
}

hr {
    border: 1px solid rgba(255, 255, 255, .5);
}
