body {
    background: url(img/spacebackground2.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

.mymenu {
    background-color: #171717;
    color: white;
    text-align: center;
    width: 500px;
}

.menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.btn-outline-dark.selected {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.game-form {
  margin-bottom: 20px;
}

.game-form>div {
  margin-bottom: 20px;
}

.game-form span {
  display: inline-block;
  width:120px;
  text-align: right;
}

.game-form input {
  width: 200px;
}

.mymenu {
    border: 1px solid white;
}

.gametitle {
    padding-top: 10px;
}

.startbutton {
    margin: 15px 0 20px;
}

.gameboard {
    background-color: #171717;
    border-radius: 2%;
    height: 600px;
    width: 600px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.spaceship-container {
    display: flex;
    justify-content: center;
}

.spaceship {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
}

.scorecard {
    color: white;
    text-align: center;
}

.info-title {
    color: white;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.info-card {
  color: white;
  text-align: center;
  overflow: hidden;
  width: 200px;
  background-color: #171717;
  padding: 10px;
  border-radius: 5%;
  margin-bottom: 10px;
}

.scoreboard {
    height: 150px;
}

.scorecard>p {
  font-size: 2.7em;
}

.asteroids {
    position: absolute;
    left: 0px;
}

.livesboard {
    height: 150px;
}

.lives {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.life-indicator {
    display: block;
    width: 50px;
    height: 50px;
}

.gameinfo {
    margin: 0 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.wholegame {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    width: 840px;
    margin: 0 auto;
}

.gameboard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 600px;
}

.overlay-message-box {
    border: solid 1px white;
    text-align: center;
    background-color: #2e2e2e;
    padding: 0px 8px 0px 8px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.overlay-message-heading {
    padding: 20px 0;
    margin: 0;
}

.high-scores {
  margin-bottom: 20px;
}

.high-scores p {
  margin: 0;
}

.high-scores p span:first-child {
  display: inline-block;
  width: 50px;
  text-align: right;
}

.high-scores p span:last-child {
  display: inline-block;
  width: 220px;
  text-align: right;
}

.GObutton {
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: white !important;
}

.btn {
    background-color: #474747;
}

.btn:hover {
    background-color: #2e2e2e;
}

.GObutton:hover {
    text-decoration: none;
}

.gamebuttons {
    padding-bottom: 20px;
}

hr {
    border: 1px solid rgba(255, 255, 255, .5);
}

#root {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1680px) {
  #root {
    justify-content: flex-start;
  }
}

.two-player {

}

.wholegame.remote {
  flex-direction: row-reverse;
}

.two-player .wholegame .gameboard {

}

.two-player .wholegame .gameinfo {
}

.wholegame.remote {
  display: none;
}

.two-player .wholegame.remote {
  display: flex;
}

.name-card {
  display: none;
}

.two-player .name-card {
  display: block;
  height: 120px;
}

.name {
  margin-top: 10px;
}

.dot {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.dot1 {
  animation-delay: 0s;
  anima
}

.dot2 {
  animation-delay: .67s;
}

.dot3 {
  animation-delay: 1.33s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }
}

.messagesbox {
  color: #171717;
  text-align: center;
  margin-top: 50%;
  animation-name: fading;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes fading {
  from {color: #171717;}
  to {color: whitesmoke;}
}

.onmobile {
  background-color: #171717;
  color: whitesmoke;
  border: 1px solid white;
  margin: 0px 45px 0px 45px;
  text-align: center;
  display: none;
}


@media only screen and (max-width: 800px) {
  .onmobile {
    display: block;
  }
  .mymenu {
    display: none;
  }
}