body {
    background-image: url(img/spacebackground.jpg);
    font-family: 'Press Start 2P', cursive;
}

.mymenu {
    background-color: #171717;
    color: white;
    text-align: center;
    width: 500px;
}

.menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.mymenu {
    border: 1px solid white;
}

.gametitle {
    padding-top: 10px;
}

.startbutton {
    padding-bottom: 10px;
}

.gameboard {
    background-color: #171717;
    height: 600px;
    width: 600px;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}

.spaceship-container {
    display: flex;
    justify-content: center;
}

.spaceship {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
}

.scorecard {
    color: white;
    text-align: center;
}

.scoretitle {
    color: white;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.scoreboard {
    width: 200px;
    background-color: #171717;
    border-radius: 5%;
    margin-bottom: 10px;
}

.asteroids {
    position: absolute;
    left: 0px;
}

.livesboard {
    border-radius: 5%;
    background-color: #171717;
    width: 200px;
    text-align: center;
}

.onelife {
    width: 50px;
}

.gameinfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: auto;
    padding-left: 20px;
}

.wholegame {
    display: flex;
    padding-top: 40px;
}

.asteroidBox {
    position: absolute;
    display: inline-block;
}